<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Bring in base structure -->
    <xacro:include filename="$(find arm_description)/urdf/arm_base.xacro" />

    <!-- ros2_control interfaces -->
    <xacro:include filename="$(find arm_description)/urdf/macros/ros2_control.xacro" />
    <xacro:arm_ros2_control/>

    <!-- Gazebo extensions -->
    <xacro:include filename="$(find arm_description)/urdf/macros/gazebo_extensions.xacro" />
    <xacro:gazebo_joint_properties/>

    <!-- Gazebo plugin -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <ros>
                <namespace>/</namespace>
                <remapping>joint_states:=/joint_states</remapping>
            </ros>
            <parameters>$(find arm_control)/config/ros2_control_sim.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
