<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Include macros -->
    <xacro:include filename="$(find arm_description)/urdf/macros/materials.xacro" />

    <!-- Base link -->
    <!-- <xacro:include filename="$(find arm_description)/urdf/links/base_link.xacro" /> -->

    <!-- Arm Links -->
    <xacro:include filename="$(find arm_description)/urdf/links/arm_links.xacro" />

    <!-- Arm Joints -->
    <xacro:include filename="$(find arm_description)/urdf/joints/arm_joints.xacro" />

</robot>
