<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base link (table/stand with menghina and stator) -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.15231 0.00126822 -0.0733771" rpy="0 0 0"/>
      <mass value="12.7824"/>
      <inertia ixx="0.319682" ixy="2.7236e-08" ixz="0.0107613" iyy="0.0695316" iyz="1.98209e-07" izz="0.343485"/>
    </inertial>
    <!-- Table -->
    <visual>
      <origin xyz="0.171858 0.00126819 -0.0923205" rpy="-3.14159 2.84025e-16 -1.25251e-16"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/table.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0.171858 0.00126819 -0.0923205" rpy="-3.14159 2.84025e-16 -1.25251e-16"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/table.stl"/>
      </geometry>
    </collision>
    <!-- Table legs (2 legs) -->
    <visual>
      <origin xyz="0.08 0.17 -0.49" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.75"/>
      </geometry>
      <material name="dark_blue"/>
    </visual>
    <collision>
      <origin xyz="0.08 0.17 -0.49" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.75"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.08 -0.17 -0.49" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.75"/>
      </geometry>
      <material name="dark_blue"/>
    </visual>
    <collision>
      <origin xyz="0.08 -0.17 -0.49" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.75"/>
      </geometry>
    </collision>
    <!-- Menghina mount (on table surface) -->
    <visual>
      <origin xyz="0.0868579 0.00126819 6.80296e-06" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/menghina_x6.stl"/>
      </geometry>
      <material name="dark_blue"/>
    </visual>
    <collision>
      <origin xyz="0.0868579 0.00126819 6.80296e-06" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/menghina_x6.stl"/>
      </geometry>
    </collision>
    <!-- Spacer between menghina and stator -->
    <visual>
      <origin xyz="0.00685786 0.00126819 6.80296e-06" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/spacer_x6_menghina_m4x60.stl"/>
      </geometry>
      <material name="purple"/>
    </visual>
    <collision>
      <origin xyz="0.00685786 0.00126819 6.80296e-06" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/spacer_x6_menghina_m4x60.stl"/>
      </geometry>
    </collision>
    <!-- Rotor X6 (base) -->
    <visual>
      <origin xyz="0.141358 0.00126819 6.80296e-06" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x6_p20_60.stl"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="0.141358 0.00126819 6.80296e-06" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x6_p20_60.stl"/>
      </geometry>
    </collision>
    <!-- Stator X6 (on table surface) -->
    <visual>
      <origin xyz="0.141358 0.00126819 6.80296e-06" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x6_p20_60.stl"/>
      </geometry>
      <material name="gold"/>
    </visual>
    <collision>
      <origin xyz="0.141358 0.00126819 6.80296e-06" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x6_p20_60.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link 1: Shoulder (pitch rotation) -->
  <link name="shoulder_link">
    <inertial>
      <origin xyz="-0.00509657 -9.94177e-07 -0.0751786" rpy="0 0 0"/>
      <mass value="2.97837"/>
      <inertia ixx="0.00348255" ixy="-3.74291e-08" ixz="2.44885e-05" iyy="0.00306396" iyz="-6.6893e-08" izz="0.00281696"/>
    </inertial>
    <!-- Rotor X6 -->
    <visual>
      <origin xyz="-0.0385 0 -0.078" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x6_p20_60.stl"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="-0.0385 0 -0.078" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x6_p20_60.stl"/>
      </geometry>
    </collision>
    <!-- L Shoulder -->
    <visual>
      <origin xyz="-0.00130076 -6.96521e-06 -0.0582746" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_shoulder.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="-0.00130076 -6.96521e-06 -0.0582746" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_shoulder.stl"/>
      </geometry>
    </collision>
    <!-- Stator X6 for next joint -->
    <visual>
      <origin xyz="-0.0385 0 -0.078" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x6_p20_60.stl"/>
      </geometry>
      <material name="gold"/>
    </visual>
    <collision>
      <origin xyz="-0.0385 0 -0.078" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x6_p20_60.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link 2: Upper arm (roll rotation) -->
  <link name="upper_arm_link">
    <inertial>
      <origin xyz="-0.112126 -2.19492e-08 0.0230405" rpy="0 0 0"/>
      <mass value="1.54329"/>
      <inertia ixx="0.00133766" ixy="6.04381e-10" ixz="0.000537695" iyy="0.00254134" iyz="7.1395e-08" izz="0.00234132"/>
    </inertial>
    <!-- Rotor X6 -->
    <visual>
      <origin xyz="0.0445 0 -0.083" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x6_p20_60.stl"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="0.0445 0 -0.083" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x6_p20_60.stl"/>
      </geometry>
    </collision>
    <!-- L Upper Arm -->
    <visual>
      <origin xyz="-0.0912885 -6.25469e-08 0.00867029" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_upper_arm.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="-0.0912885 -6.25469e-08 0.00867029" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_upper_arm.stl"/>
      </geometry>
    </collision>
    <!-- Stator X4 for next joint -->
    <visual>
      <origin xyz="-0.091 0 0.029" rpy="1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x4_p36_36.stl"/>
      </geometry>
      <material name="purple"/>
    </visual>
    <collision>
      <origin xyz="-0.091 0 0.029" rpy="1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x4_p36_36.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link 3: Elbow (yaw rotation) -->
  <link name="elbow_link">
    <inertial>
      <origin xyz="0.0103789 1.30908e-06 -0.0814648" rpy="0 0 0"/>
      <mass value="2.87437"/>
      <inertia ixx="0.00300002" ixy="3.78723e-08" ixz="7.45868e-05" iyy="0.00280783" iyz="1.59723e-08" izz="0.00247115"/>
    </inertial>
    <!-- Rotor X4 -->
    <visual>
      <origin xyz="-0.091 0 0.029" rpy="1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x4_p36_36.stl"/>
      </geometry>
      <material name="dark_purple"/>
    </visual>
    <collision>
      <origin xyz="-0.091 0 0.029" rpy="1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x4_p36_36.stl"/>
      </geometry>
    </collision>
    <!-- L Elbow -->
    <visual>
      <origin xyz="-0.000331628 1.15447e-05 -0.0692953" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_elbow.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="-0.000331628 1.15447e-05 -0.0692953" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_elbow.stl"/>
      </geometry>
    </collision>
    <!-- Stator X6 for next joint -->
    <visual>
      <origin xyz="0.0445 0 -0.083" rpy="3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x6_p20_60.stl"/>
      </geometry>
      <material name="gold"/>
    </visual>
    <collision>
      <origin xyz="0.0445 0 -0.083" rpy="3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x6_p20_60.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link 4: Upper forearm (pitch rotation) -->
  <link name="upper_forearm_link">
    <inertial>
      <origin xyz="0.00126439 -0.111037 0.0195224" rpy="0 0 0"/>
      <mass value="1.44829"/>
      <inertia ixx="0.00214741" ixy="-9.87926e-07" ixz="-6.26246e-06" iyy="0.000998643" iyz="0.000395055" izz="0.00190798"/>
    </inertial>
    <!-- L Upper Forearm -->
    <visual>
      <origin xyz="0.0046701 -0.0842108 0.00848547" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_upper_forearm.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0.0046701 -0.0842108 0.00848547" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_upper_forearm.stl"/>
      </geometry>
    </collision>
    <!-- Stator X4 for next joint -->
    <visual>
      <origin xyz="0 -0.09 0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x4_p36_36.stl"/>
      </geometry>
      <material name="purple"/>
    </visual>
    <collision>
      <origin xyz="0 -0.09 0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/stator_x4_p36_36.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link 5: End effector (lower forearm and hand) -->
  <link name="end_effector_link">
    <inertial>
      <origin xyz="-2.78156e-05 0.00215422 -0.147028" rpy="0 0 0"/>
      <mass value="0.558"/>
      <inertia ixx="0.00382826" ixy="-3.16312e-08" ixz="2.02243e-07" iyy="0.00375463" iyz="-2.11667e-05" izz="0.000416359"/>
    </inertial>
    <!-- Rotor X4 -->
    <visual>
      <origin xyz="0 -0.09 0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x4_p36_36.stl"/>
      </geometry>
      <material name="dark_purple"/>
    </visual>
    <collision>
      <origin xyz="0 -0.09 0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/rotor_x4_p36_36.stl"/>
      </geometry>
    </collision>
    <!-- L Lower Forearm -->
    <visual>
      <origin xyz="-6.05561e-05 0.00294052 -0.075703" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_lower_forearm.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="-6.05561e-05 0.00294052 -0.075703" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/l_lower_forearm.stl"/>
      </geometry>
    </collision>
    <!-- Hand base -->
    <visual>
      <origin xyz="1.38778e-17 -8.67362e-19 -0.252" rpy="6.12396e-17 -1.98233e-16 1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/hand.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="1.38778e-17 -8.67362e-19 -0.252" rpy="6.12396e-17 -1.98233e-16 1.5708"/>
      <geometry>
        <mesh filename="package://arm_description/meshes/visual/hand.stl"/>
      </geometry>
    </collision>
  </link>


</robot>
