<?xml version="1.0"?>
<xacro:macro xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="damping" value="0.05" />
    <xacro:property name="friction" value="0.01" />

    <gazebo reference="joint1">
        <damping>${damping}</damping>
        <friction>${friction}</friction>
    </gazebo>

    <gazebo reference="joint2">
        <damping>${damping}</damping>
        <friction>${friction}</friction>
    </gazebo>

    <gazebo reference="joint3">
        <damping>${damping}</damping>
        <friction>${friction}</friction>
    </gazebo>

    <gazebo reference="joint4">
        <damping>${damping}</damping>
        <friction>${friction}</friction>
    </gazebo>

    <gazebo reference="joint5">
        <damping>${damping}</damping>
        <friction>${friction}</friction>
    </gazebo>

</xacro:macro>
