<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ros2_control_gazebo" params="prefix">

        <ros2_control name="HumanoidLegSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <!-- LEFT LEG JOINTS -->

            <joint name="${prefix}dof_left_hip_pitch_04">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_hip_roll_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_hip_yaw_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_knee_04">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_ankle_02">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- RIGHT LEG JOINTS -->

            <joint name="${prefix}dof_right_hip_pitch_04">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_hip_roll_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_hip_yaw_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_knee_04">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_ankle_02">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- LEFT ARM JOINTS -->

            <joint name="${prefix}dof_left_shoulder_pitch_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_shoulder_roll_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_shoulder_yaw_02">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_elbow_02">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_left_wrist_00">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- RIGHT ARM JOINTS -->

            <joint name="${prefix}dof_right_shoulder_pitch_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_shoulder_roll_03">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_shoulder_yaw_02">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_elbow_02">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}dof_right_wrist_00">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>

    </xacro:macro>

</robot>
