<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="left_shoulder_pitch_rs04_actuator_fixture_link" type="fixed">
        <origin xyz="-0.1079 0 1.425" rpy="-0.67594 0 3.1416" />
        <parent link="base_link" />
        <child link="left_shoulder_pitch_rs04_actuator" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_shoulder_pitch_rs04" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_pitch_rs04_actuator" />
        <child link="left_shoulder_pitch_rs04_flange" />
        <axis xyz="1 0 0" />
        <limit lower="-3.14" upper="3.14" effort="120" velocity="3" />
        <safety_controller soft_upper_limit="3.14" soft_lower_limit="-3.14" k_velocity="0" />
    </joint>
    <joint name="left_shoulder_pitch_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_pitch_rs04_flange" />
        <child link="left_shoulder_pitch" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_shoulder_roll_rs04_flange_fixture" type="fixed">
        <origin xyz="0.11678 0.0487 -2.7056E-05" rpy="0 0 3.1416" />
        <parent link="left_shoulder_pitch" />
        <child link="left_shoulder_roll_rs04_flange" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_shoulder_roll_rs04" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_roll_rs04_flange" />
        <child link="left_shoulder_roll_rs04_actuator" />
        <axis xyz="0 -1 0" />
        <limit lower="-3.5" upper="0.6" effort="120" velocity="3" />
        <safety_controller soft_upper_limit="3.14" soft_lower_limit="-3.14" k_velocity="0" />
    </joint>
    <joint name="left_shoulde_roll_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_roll_rs04_actuator" />
        <child link="left_shoulder_roll" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_shoulder_yaw_rs03_actuator_fixture_link" type="fixed">
        <origin xyz="-0.021972 0.0377 -0.17358" rpy="0.057123 0.11257 0.47088" />
        <parent link="left_shoulder_roll" />
        <child link="left_shoulder_yaw_rs03_actuator" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_shoulder_yaw_rs03" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_yaw_rs03_actuator" />
        <child link="left_shoulder_yaw_rs03_flange" />
        <axis xyz="0 0 1" />
        <limit lower="-3.14" upper="3.14" effort="60" velocity="1.6" />
        <safety_controller soft_upper_limit="3.14" soft_lower_limit="-3.14" k_velocity="0" />
    </joint>
    <joint name="left_shoulder_yaw_flange_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_yaw_rs03_flange" />
        <child link="left_shoulder_yaw_flange" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_shoulder_yaw_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_shoulder_yaw_flange" />
        <child link="left_shoulder_yaw" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_elbow_rs03_actuator_ficture_link" type="fixed">
        <origin xyz="0 0 -0.0987" rpy="0 0 0" />
        <parent link="left_shoulder_yaw" />
        <child link="left_elbow_rs03_actuator" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_elbow_rs03" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_elbow_rs03_actuator" />
        <child link="left_elbow_rs03_flange" />
        <axis xyz="-1 0 0" />
        <limit lower="-1.3" upper="1.9" effort="60" velocity="1.6" />
        <safety_controller soft_upper_limit="3.14" soft_lower_limit="-3.14" k_velocity="0" />
    </joint>
    <joint name="left_elbow_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_elbow_rs03_flange" />
        <child link="left_elbow" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_wrist_rs02_actuator_fixture_link" type="fixed">
        <origin xyz="0.0055 0.044061 -0.15849" rpy="-1.2996 0 0" />
        <parent link="left_elbow" />
        <child link="left_wrist_actuator" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_wrist_rs02" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_wrist_actuator" />
        <child link="left_wrist_rs02_flange" />
        <axis xyz="0 1 0" />
        <limit lower="-3.14" upper="3.14" effort="17" velocity="0.8" />
        <safety_controller soft_upper_limit="3.14" soft_lower_limit="-3.14" k_velocity="0" />
    </joint>
    <joint name="left_wrist_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_wrist_rs02_flange" />
        <child link="left_wrist" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_hand_rs02_fixture_link" type="fixed">
        <origin xyz="0 0.0945 0" rpy="0.64485 0.44406 0" />
        <parent link="left_wrist" />
        <child link="left_hand_rs02_actuator" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_hand_rs02" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_hand_rs02_actuator" />
        <child link="left_hand_rs02_flange" />
        <axis xyz="1 0 0" />
        <limit lower="-1.5" upper="1.7" effort="17" velocity="0.8" />
        <safety_controller soft_upper_limit="1.7" soft_lower_limit="-1.5" k_velocity="0" />
    </joint>
    <joint name="left_hand_fixture" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_hand_rs02_flange" />
        <child link="left_hand" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="left_palm_fixture" type="fixed">
        <origin xyz="0 0.046829 -0.045845" rpy="-0.77494 -0.017568 0.017203" />
        <parent link="left_hand" />
        <child link="left_palm" />
        <axis xyz="0 0 0" />
    </joint>
    <!-- Gripper finger joints: Right finger (independent control) -->
    <joint name="left_palm_right_finger" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_palm" />
        <child link="left_palm_right_finger_link" />
        <axis xyz="-1 0 0" />
        <limit lower="-0.033" upper="0.00026" effort="10" velocity="0.05" />
        <safety_controller soft_upper_limit="0.00026" soft_lower_limit="-0.033" k_velocity="0" />
        <dynamics damping="0.1" friction="0.1" />
    </joint>

    <!-- Left finger (independent control) -->
    <joint name="left_palm_left_finger" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_palm" />
        <child link="left_palm_left_finger_link" />
        <axis xyz="-1 0 0" />
        <limit lower="-0.0041" upper="0.033" effort="10" velocity="0.05" />
        <safety_controller soft_upper_limit="0.033" soft_lower_limit="-0.0041" k_velocity="0" />
        <dynamics damping="0.1" friction="0.1" />
    </joint>

</robot>